<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>
        {{block title}}

        {{endblock}}
    </title>
</head>
<body>
    <Nav class="navbar-links">
        <div class="hamburger-dropdown">
            <img src="#" alt="Hamburger">
        </div>
        <div class="logo">
            <a href="http://www.google.com"><img src="../static/Logo (white).png" alt="Online store logo"></a>
        </div>
        <div class="navlinks">
            <ul>
                <li><a href="http://#"><img src="../static/cart-icon-28344.png" alt="cart-pic"></a></li>
                <li><a href="http://#"><img src="../static/search-icon-png-9973.png" alt="search-pic"></a></li>
            </ul>
        </div>
        
        </div>
    </Nav>
</body>
</html>