body{
    margin: 0;
    padding: 0;
    background-color: white;
}

Nav{
    background-color: rgb(13, 44, 4);
    height: 12vh;
    width: 100vw;
    display: flex;
}
.navlinks ul{
    display: flex;
}

.navlinks img{
    height: 50px;
    width: 50px;
}


.logo{
    width: 50px;
    height: 80%;
}